
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to (@book.user) do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book %></td>
					<td><%= @book.body %></td>
					<td>
						コメント数:
						<%= @book.book_comments.count %>
					</td>
					<td>
						<% if @book.favorited_by?(current_user) %>
						<%= link_to book_favorites_path(@book), method: :delete do %>
						 <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
      					<%= @book.favorites.count %> いいね
      					<% end %>
      					<% else %>
      					<%= link_to book_favorites_path(@book), method: :post do %>
      					<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
      					<%= @book.favorites.count %> いいね
    					<% end %>
						<% end %>
					</td>
					<% if @user == current_user %>
					<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
		</table>
		<ol>
			<% @book.book_comments.each do |comment| %>
				<li class="comment">
		            <div class="comment-body bb">
		                <div class="comment-text">
		                    <div class="comment-author clearfix">
		                        <%= comment.user.name %>
		                        <span class="comment-meta">
		                          <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
		                        </span>
		                    </div>
		                    <div class="comment-entry"><%= comment.comment %></div>
		                    <%= link_to "削除", book_book_comments_path(comment), method: :delete %>
		                </div>
		            </div>
	        	</li>
   			 <% end %>
		</ol>
		<div>
			<%= form_for [@book,@book_comment] do |f| %>
				<div>
					<%= f.text_area :comment, class: "form-control",placeholder: "コメントをここに" %>
				</div>
				<%= f.submit"送信する" %>
			<% end %>
		</div>

	</div>
</div>

